
body{
  margin:0;
  text-align: center;
  font-family: 'Merriweather',serif;
}

.kitty{
  position: relative;
  padding-right: 1100px;
  padding-top: 30px;
}

.first-page{
  background-color: #D3E0EA;
  margin:0;
  padding:0;
}

h1{
  font-family: 'Sacramento', cursive;
  font-size: 500%;
  margin-top: 5px;
  margin-bottom: 5px;
  color:#1687A7;
}

h2{
  font-family: 'Montserrat', sans-serif;
  font-size: 150%;
  color:#1687A7;
}

h3{
  font-family: 'Montserrat', sans-serif;
  color:#1687A7;
  font-size: 100%;
}

p{
  font-family: "Merriweather"serif;
  color:#555555;
  font-weight: bold;
  font-size: 80%;
  line-height: 25px;
}

.wong{
  margin-top: 30px;
  width:13%;
}

.intro{
  padding-left: 10px;
}

hr{
  border-style: none;
  border-bottom-style: dotted;
  color: #CDC9C3;
  text-align: center;
  width:6%;
  border-width: 5px;
  margin:50px auto 50px auto;
}

.skills-part{
  margin:30px auto 30px auto;

}
.skills-part img{
  width:4%;
  float: left;
  position: relative;
  padding-left: 550px;
}
.skills-part h3{
  position: relative;
  padding-right: 500px;
}
.skills-part p{
  position: relative;
  padding-right: 500px;
}

.button {
   background: #008891;
   background-image: -webkit-linear-gradient(top, #008891, #00BCD4);
   background-image: -moz-linear-gradient(top, #008891, #00BCD4);
   background-image: -ms-linear-gradient(top, #008891, #00BCD4);
   background-image: -o-linear-gradient(top, #008891, #00BCD4);
   background-image: -webkit-gradient(to bottom, #008891, #00BCD4);
   -webkit-border-radius: 8px;
   -moz-border-radius: 8px;
   border-radius: 8px;
   color: #FFFFFF;
   font-family: 'Merriweather',serif;
   font-size: 20px;
   padding: 12px;
   text-decoration: none;
   display: inline-block;
   cursor: pointer;
   text-align: center;
}

.button:hover {
   border: solid #7FDBDA 1px;
   background: #7FDBDA;
   background-image: -webkit-linear-gradient(top, #7FDBDA, #FEBF63);
   background-image: -moz-linear-gradient(top, #7FDBDA, #FEBF63);
   background-image: -ms-linear-gradient(top, #7FDBDA, #FEBF63);
   background-image: -o-linear-gradient(top, #7FDBDA, #FEBF63);
   background-image: -webkit-gradient(to bottom, #7FDBDA, #FEBF63);
   -webkit-border-radius: 8px;
   -moz-border-radius: 8px;
   border-radius: 8px;
   text-decoration: none;
}

.botton{
  margin-bottom: 50px;
}
.end{
  background-color: #1687A7;
  padding: 50px;
  margin-bottom: 0;
}
